@charset "utf-8";
/* CSS Document */
body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  background: #fff;
  font-family: "Hind", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
div,
ul,
h1,
h2,
h3,
h4,
h5,
li,
p,
img,
form,
input,
textarea {
  margin: 0;
  padding: 0;
}
table,
tr,
td {
  border: 0;
}
a {
  outline: none;
  color: #333;
  text-decoration: none;
}
a:hover {
  outline: none;
  color: #000;
  text-decoration: none;
}
img {
  border: none;
}
li {
  list-style: none;
}
.clearall {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
}
@font-face {
  font-family: "khandbold";
  src: url("khand-bold_0-webfont.eot");
  src: url("khand-bold_0-webfont.eot?#iefix") format("embedded-opentype"),
    url("khand-bold_0-webfont.woff2") format("woff2"),
    url("khand-bold_0-webfont.woff") format("woff"),
    url("khand-bold_0-webfont.ttf") format("truetype"),
    url("khand-bold_0-webfont.svg#khandbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*-----------------------
MAIN CSS START
------------------------*/
.container {
  width: 100%;
  display: table;
}
.contentWrap {
  width: 1004px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: #fff;
}
.shadow {
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,
    12px 0 18px -4px rgba(234, 234, 234, 0.8),
    -12px 0 18px -4px rgba(234, 234, 234, 0.8);
}
.position {
  position: relative;
}
.dsplay {
  display: table;
  box-sizing: border-box;
}

/*-----------------header------------------*/
.header {
  height: 97px;
}
.logo {
  float: left;
  margin: 10px 0 0 17px;
}
.seals {
  float: right;
  margin: 12px 35px 0 0;
}
.step {
  position: absolute;
  left: 320px;
  top: 23px;
}

/*-----------------red bar------------------*/
.redbar {
  background: #ff0000;
  padding: 9px 0 5px 0;
}
.redbar p {
  font-weight: 600;
  font-size: 33px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  letter-spacing: -1px;
}

/*-----------------sec1------------------*/
.sec1 {
  padding: 27px 30px 22px 30px;
}
.s1txt1,
.s1txt3,
.s1txt4 {
  font-size: 20px;
  line-height: 26px;
  color: #353535;
  text-align: center;
}
.s1txt3 {
  text-align: left;
  padding: 47px 0 0 0;
}
.s1txt4 {
  padding: 20px 0 0 0;
}
.s1txt1 span,
.s1txt3 span {
  font-weight: 600;
}
.s1txt3 span {
  font-size: 24px;
}

/*-----------------sec1-DOtted------------------*/
.s1-doteed-sec {
  width: 96%;
  margin: 35px auto 0;
  text-align: center;
  border: 3px dashed #000;
  padding: 27px 10px 20px 20px;
  float: left;
  height: 417px;
}
.s1-dot-left {
  width: 36%;
  float: left;
  text-align: center;
  position: relative;
  margin: 35px 0 0 0;
  height: 382px;
}
.up-btl1 {
  float: left;
}
.save-seal {
  position: absolute;
  right: -40px;
  top: 49px;
  background: url(../images/save.png) no-repeat center top;
  width: 105px;
  height: 108px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 28px;
  padding-top: 25px;
  box-sizing: border-box;
}
.save-seal span {
  font-size: 36px;
  font-weight: 700;
}
.free-ship {
  margin: 8px 0 0 0;
}
.s1-dot-right {
  float: right;
  width: 63%;
}
.dot-rgt-txt1 {
  color: #212020;
  font-size: 26px;
  font-weight: 600;
  float: left;
  line-height: 32px;
  padding: 0 20px 0;
}
.dot-rgt-txt2 {
  color: #0f7545;
  font-size: 30px;
  font-weight: 600;
  float: left;
  line-height: 30px;
  width: 100%;
  padding: 8px 0 0 0;
}
.dot-rgt-txt3 {
  color: #1e1e1e;
  font-size: 24px;
  float: left;
  line-height: 30px;
  width: 100%;
  padding: 8px 0 0 0;
}
.dot-rgt-txt3 span {
  color: #0f7545;
  font-size: 57px;
  line-height: 60px;
  font-weight: 700;
}
.txt4-fnt-sz {
  font-size: 22px;
  padding: 12px 0 0 0;
  width: 100%;
}
.dot-rgt-txt4 {
  color: #1e1e1e;
  font-size: 18px;
  float: left;
  line-height: 20px;
  padding: 8px 14px 0;
}
.button {
  margin: 16px 0 0 0;
}

/*************************************
 * CSS FOR UPSELL
 ************************************/
.success-modal h2,
p {
  padding-top: 10px;
}

/*--------------------------
CSS FOR UPSELL 2
---------------------------*/
.pkg-hding {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: #ff0000;
  text-align: center;
  letter-spacing: -1px;
  padding: 43px 0 0 0;
}
.pkg-container {
  width: 932px;
  margin: 20px auto 8px auto;
}
.pkg1-box,
.pkg2-box {
  float: left;
  display: inline-block;
  width: 297px;
  height: 464px;
  border: 1px solid #b7cdc3;
  box-sizing: border-box;
}
.pkg1-box {
  margin: 0 20px 0 0;
}
.pkgbox-hding {
  height: 52px;
  background: #069852;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 4px 0 0 0;
  box-sizing: border-box;
}
.pkgbox-btl {
  margin: 13px auto 0 auto;
  display: block;
}
.pkgbox-txt {
  font-size: 24px;
  line-height: 26px;
  color: #2c2c2c;
  text-align: center;
  padding: 10px 0 0 0;
}
.pkgbox-txt span.span1 {
  font-weight: 600;
}
.pkgbox-txt span.span2 {
  font-weight: 700;
  font-size: 57px;
  color: #0f7545;
  line-height: 60px;
}
a.select {
  background: url(../images/select.png) center top no-repeat;
  height: 189px;
  height: 45px;
  margin: 10px auto 0 auto;
  display: block;
  font-family: "khandbold";
  font-size: 26px;
  line-height: 43px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 3px 0 0 0;
  box-sizing: border-box;
}
a.select:hover {
  background: url(../images/selected.png) center top no-repeat;
}
.s1txt2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #ff0000;
}
/*-----------------satisfaction-box------------------*/
.satisfaction-box {
  border: 1px solid #e4e3e3;
  border-radius: 5px;
  width: 944px;
  box-sizing: border-box;
  margin: 93px auto 0 auto;
  float: left;
  text-align: center;
  padding: 0 0 22px 0;
  height: 349px;
}
.satisfaction-seal {
  margin: -51px auto 0 auto;
  display: block;
}
.satisfaction-hding {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #353535;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0 0 0;
}
.satisfaction-txt {
  font-size: 20px;
  line-height: 26px;
  color: #353535;
  text-align: center;
  padding: 8px 30px 0;
}
.satisfaction-txt span {
  font-weight: 600;
  text-decoration: underline;
}
a.nothank {
  font-size: 16px;
  line-height: 23px;
  color: #158fc0;
  text-align: center;
  text-decoration: underline;
  margin: 24px 20px 0 20px;
  display: block;
}
.secure-logos {
  margin: 24px auto 19px auto;
  padding-left: 10px;
}

.s1hding {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #353535;
  text-align: center;
}

.s1txt5 {
  font-size: 20px;
  line-height: 26px;
  color: #353535;
  text-align: center;
  padding: 40px 0 0 0;
}

ul.s1list {
  padding: 22px 0 0 0;
}
ul.s1list li {
  background: url(../images/bullet.png) left 4px no-repeat;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  padding: 0 0 0 33px;
  margin: 14px 0 0 0;
}
.s1subhding {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: #353535;
  text-align: center;
  background: url(../images/hdline.png) center bottom no-repeat;
  letter-spacing: -1px;
  padding: 42px 0 6px 0;
}
.s1txt6 {
  font-size: 24px;
  line-height: 30px;
  color: #353535;
  text-align: center;
  padding: 50px 0 0 0;
}
.s1txt6 span {
  font-weight: 600;
  font-size: 30px;
}
.upgrade-btn {
  margin: 17px auto 0 auto;
  width: 423px;
  display: block;
}
/*------------------------
FOOTER CSS
--------------------------*/
.footer {
  padding: 40px 0;
  border-top: 1px solid #d7d7d7;
}
.ftrtxt {
  font-size: 15px;
  line-height: 25px;
  color: #000101;
  text-align: center;
}
.ftrtxt a,
.ftrtxt a:hover {
  color: #000101;
}
.footer .contentWrap {
  padding-top: 10px;
}
.footer .contentWrap p {
  padding-top: 0px;
}

/*-------------------------------------
THANK YOU CSS
---------------------------------------*/
.thank-top {
  height: 304px;
  width: 100%;
  background: url(../images/thank-mid.jpg) no-repeat center top;
}
.thnk2bg {
  background: #fff;
  border-top: 1px solid #cccccc;
  padding: 0 0 17px 0;
}
.thank-lft {
  float: left;
  width: 69%;
  padding: 35px 0 0 23px;
}
.thank2-lft {
  width: 51%;
}
.thank2-lst li {
  width: auto !important;
  padding: 3px 0 0 38px !important;
}
.thank-vidio {
  float: right;
  margin: 31px 17px 0 0;
}
.thank-txt1 {
  font-size: 36px;
  float: left;
  color: #2f2f2f;
  line-height: 40px;
  font-weight: 700;
  padding: 0 0 0 0;
}
.thank-txt2 {
  font-size: 20px;
  line-height: 26px;
  color: #353535;
  float: left;
  padding: 9px 0 0 3px;
}
.thank-list {
  float: left;
  margin: 17px 0 0 0;
  width: 100%;
  border-top: 1px solid #d0d0d0;
}
.thank-list li {
  float: left;
  background: url(../images/green-icon.png) no-repeat left top;
  padding: 0px 0 0 38px;
  font-size: 22px;
  color: #161616;
  font-weight: 600;
  text-transform: uppercase;
  margin: 25px 34px -13px 2px;
  line-height: 22px;
  width: 39%;
}
.thank-list li span {
  color: #069852;
}
.green-sec {
  width: 100%;
  height: 97px;
  background: url(../images/green-bg.png) no-repeat left top;
  margin: 0px 0 0 25px;
}
.green-txt1 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  width: 16%;
  float: left;
  line-height: 28px;
  padding: 21px 0 0 16px;
}
.green-txt1 span {
  font-size: 32px;
}
.green-txt2 {
  font-size: 20px;
  color: #ffffff;
  width: 44%;
  float: left;
  line-height: 26px;
  padding: 9px 0 0 0px;
}
.green-list {
  float: left;
  margin: 19px 0 0 39px;
  width: 30%;
}
.green-list li {
  font-size: 20px;
  color: #ffffff;
  line-height: 30px;
  float: left;
  padding: 0 0 0 28px;
  background: url(../images/ph.png) no-repeat left top 4px;
}
.green-list li:nth-child(2) {
  background: url(../images/msg.png) no-repeat left top 4px;
}
.ty-box {
  width: 93%;
  padding: 30px;
  display: table;
}
.ty-left {
  float: left;
  width: 52%;
  text-align: left;
}
.opt-top {
  float: left;
  width: 100%;
  border-bottom: 1px solid #a4a9ad;
  padding-bottom: 20px;
}
.opt-top p {
  float: left;
  width: 100%;
  color: #000000;
  font-weight: 600;
}
.ord-p1 {
  width: 100%;
  height: 1px;
  background: #999;
  text-align: center;
  float: left;
  margin: 12px 0 41px;
}
.tp-heading {
  display: inline-block;
  background: #fff;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2f2f2f;
  margin: -20px 0 0 0;
  padding: 0 15px;
}
.order-top {
  font-size: 20px;
  line-height: 27px;
  margin-top: 5px;
}
.opt-top p span {
  font-weight: 400;
}
.itemordered-heading {
  float: left;
  width: 100%;
  color: #2f2f2f;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 18px;
}
.prod-row {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e5e2dc;
  margin: 13px 0 0px 0;
}
.prod-data {
  float: left;
  width: 53%;
  padding-left: 65px;
  position: relative;
  min-height: 87px;
  padding-top: 2px;
}
.prod-shoot {
  position: absolute;
  background: #fff;
  left: 0;
  top: 0;
}
.prod-shoot img {
  max-width: 100%;
  display: inline-block;
}
.prod-name {
  float: left;
  width: 100%;
  text-align: left;
  color: #010101;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 0 0 0 30px;
  text-transform: uppercase;
}
.prod-name span {
  font-size: 18px;
  color: #6c6c6c;
  font-weight: 400;
  float: left;
  line-height: 26px;
  margin-top: 2px;
  text-transform: none;
}
.prod-price {
  float: right;
  width: 25%;
  color: #000000;
  font-size: 20px;
  text-align: right;
  padding-top: 5px;
}
.summry-table {
  float: left;
  width: 100%;
  background: #fbf7ee;
  padding: 10px 20px 0 0;
  box-sizing: border-box;
}
.summry-table .row {
  float: left;
  width: 100%;
  margin: 2px 0;
  text-align: left;
  font-size: 20px;
  text-align: right;
}
.summry-table .row.pack-name {
  color: #2f2f2f;
}
.summry-table .row span {
  float: right;
  margin-left: 27px;
  width: 80px;
}
.summry-table .row.discount {
  color: red;
  font-weight: 600;
}
.summry-table .row.total-price {
  font-weight: 600;
  text-transform: uppercase;
  color: #2f2f2f;
}
.ty-rgt {
  float: right;
  width: 39%;
  text-align: left;
}
.opt-top {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e5e2dc;
  padding-bottom: 9px;
}
.opt-top p {
  float: left;
  width: 100%;
  color: #000000;
  font-weight: 700;
}
.sh-heading {
  float: left;
  width: 100%;
  color: #252525;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 25px;
}
ul.user-info {
  float: left;
  width: 100%;
  margin-top: 14px;
}
ul.user-info li {
  float: left;
  width: 100%;
  position: relative;
  padding-left: 110px;
  margin: 2px 0;
  color: #7b7b7b;
  font-size: 18px;
}
ul.user-info li span {
  position: absolute;
  left: 0;
  color: #2b2b2b;
  font-weight: 600;
}
.vedio {
  float: right;
  width: 410px;
  height: 230px;
  position: relative;
  border: 4px solid #fff;
  margin: 50px 25px 0 0;
  -webkit-box-shadow: 0 0 4px 3px #e8e8e8;
  box-shadow: 0 0 4px 3px #e8e8e8;
}
p.user-info__value {
  margin-left: 15px;
  word-break: break-all;
  width: calc(100% - 100px);
  padding-top: 0;
}
/* modal style */

.fade {
  opacity: 0;

  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
    margin: 30px auto;
  }
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out,
    -o-transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;

  outline: 0;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;

  opacity: 0.2;

  opacity: 0.2;

  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.5;
  text-align: center;
}

.modal-header::after {
  content: "";
  display: table;
  clear: both;
}

.modal-body {
  position: relative;
  padding: 15px 30px;
}
.pac-container {
  /* modal style ends */

  width: 310px !important;
}

.modal-body p {
  text-align: left;
}

/* modal style ends */

/* loading bar */

.js-div-loading-bar {
  animation: spin 4s linear infinite;
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
  background-color: rgba(35, 35, 35, 0.2);
}

.js-div-loading-bar .sk-circle {
  height: 60px;
  left: calc(50% - 30px);
  position: absolute;
  top: calc(50% - 30px);
  width: 60px;
}

.js-div-loading-bar .sk-circle .sk-child {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.js-div-loading-bar .sk-circle .sk-child::before {
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  background-color: #ff3f3f;
  border-radius: 100%;

  content: "";

  display: block;
  height: 15%;
  margin: 0 auto;
  width: 15%;
}

.js-div-loading-bar .sk-circle .sk-circle1 {
  transform: rotate(0deg);
}

.js-div-loading-bar .sk-circle .sk-circle1::before {
  animation-delay: 1.2s;
}

.js-div-loading-bar .sk-circle .sk-circle2 {
  transform: rotate(30deg);
}

.js-div-loading-bar .sk-circle .sk-circle2::before {
  animation-delay: 1.1s;
}

.js-div-loading-bar .sk-circle .sk-circle3 {
  transform: rotate(60deg);
}

.js-div-loading-bar .sk-circle .sk-circle3::before {
  animation-delay: 1s;
}

.js-div-loading-bar .sk-circle .sk-circle4 {
  transform: rotate(90deg);
}

.js-div-loading-bar .sk-circle .sk-circle4::before {
  animation-delay: 0.9s;
}

.js-div-loading-bar .sk-circle .sk-circle5 {
  transform: rotate(120deg);
}

.js-div-loading-bar .sk-circle .sk-circle5::before {
  animation-delay: 0.8s;
}

.js-div-loading-bar .sk-circle .sk-circle6 {
  transform: rotate(150deg);
}

.js-div-loading-bar .sk-circle .sk-circle6::before {
  animation-delay: 0.7s;
}

.js-div-loading-bar .sk-circle .sk-circle7 {
  transform: rotate(180deg);
}

.js-div-loading-bar .sk-circle .sk-circle7::before {
  animation-delay: 0.6s;
}

.js-div-loading-bar .sk-circle .sk-circle8 {
  transform: rotate(210deg);
}

.js-div-loading-bar .sk-circle .sk-circle8::before {
  animation-delay: 0.5s;
}

.js-div-loading-bar .sk-circle .sk-circle9 {
  transform: rotate(240deg);
}

.js-div-loading-bar .sk-circle .sk-circle9::before {
  animation-delay: 0.4s;
}

.js-div-loading-bar .sk-circle .sk-circle10 {
  transform: rotate(270deg);
}

.js-div-loading-bar .sk-circle .sk-circle10::before {
  animation-delay: 0.3s;
}

.js-div-loading-bar .sk-circle .sk-circle11 {
  transform: rotate(300deg);
}

.js-div-loading-bar .sk-circle .sk-circle11::before {
  animation-delay: 0.2s;
}

.js-div-loading-bar .sk-circle .sk-circle12 {
  transform: rotate(330deg);
}

.js-div-loading-bar .sk-circle .sk-circle12::before {
  animation-delay: 0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* loading bar ends */
