@charset "utf-8";
/* CSS Document */
body {
  padding: 0;
  margin: 0;
  font-family: "Hind", sans-serif;
  font-size: 30px;
  line-height: 40px;
  color: #323232;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
div,
ul,
li,
p,
img,
form,
input,
textarea {
  margin: 0;
  padding: 0;
}
a:hover {
  outline: ;
}
img {
  border: none;
}
li {
  list-style: none;
}
#container {
  width: 640px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.clearall {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
}
/*============upsell===================*/
.logo {
  display: inline-block;
  padding: 15px 0;
}
.up-strip {
  float: left;
  width: 100%;
  background: #283c91;
  padding: 12px 10px;
  color: #fff;
  box-sizing: border-box;
}
.up-strip h3 {
  float: left;
  width: 100%;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  margin: 0;
}
.up-strip p {
  float: left;
  width: 100%;
  font-size: 24px;
  line-height: 26px;
}
.up-strip h4 {
  float: left;
  width: 100%;
  font-size: 34px;
  line-height: 36px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding-top: 7px;
}
.upsell-box {
  float: left;
  width: 100%;
  position: relative;
  margin-top: 30px;
}
.up-txt1 {
  float: left;
  width: 100%;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #193e4e;
  text-transform: uppercase;
}
.with-txt {
  float: left;
  width: 100%;
  font-size: 30px;
  line-height: 28px;
  margin: 5px 0;
  color: #000000;
  font-weight: 700;
}
.up-txt2 {
  float: left;
  width: 100%;
  font-size: 32px;
  color: #193e4e;
  line-height: 32px;
  font-weight: 700;
}
.up-prod {
  display: inline-block;
  margin-top: 20px;
  vertical-align: middle;
}
.price-box {
  float: left;
  width: 100%;
  background: #283c91;
  margin-top: 30px;
  text-align: center;
}
.price-box.pricebox3 {
  float: right;
  width: 650px;
  padding-left: 90px;
  box-sizing: border-box;
}
.price-box-txt1 {
  float: left;
  width: 100%;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  padding: 20px 0 0 0;
}
.price-box-txt1 span {
  color: #ffde00;
}
.price-box-txt2 {
  float: left;
  width: 100%;
  height: 40px;
  font-size: 30px;
  line-height: 42px;
  color: #0a0a0a;
  background: url(/static/assets/images/save-bg.png) no-repeat center center;
  margin-top: 9px;
  font-weight: 500;
}
.price-box-txt3 {
  float: left;
  width: 100%;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color: #ffde00;
  margin: 15px 0 18px 0;
}
.old-price {
  color: #fff;
  font-weight: 400;
  position: relative;
}
.old-price img {
  position: absolute;
  max-width: 100%;
  left: -4px;
}
.price-box-txt3 sup {
  display: inline-block;
  vertical-align: middle;
}
.arrow-left {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.arrow-right {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.bnt-sec {
  float: left;
  width: 100%;
  margin-top: 30px;
}
.ord-btn {
  display: inline-block;
  vertical-align: middle;
}
.thanks-txt {
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #9d9d9d;
  margin: 15px 0 0 0;
  padding: 0 0 0 0;
}
.thanks-txt a,
.thanks-txt a:hover {
  text-decoration: none;
  color: #9d9d9d;
  background: #999;
  color: #fff;
  padding: 5px 15px 3px 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.cut-icon {
  margin: 4px 0 -2px 0;
}
.up-txt3 {
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #1b1b1b;
  margin: 0 auto;
  padding: 19px 10px 0 10px;
}
.up-bottom-box {
  float: left;
  width: 86%;
  background: #f4ffe6;
  border: 3px solid #c9f9db;
  padding: 15px;
  margin-left: 7%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 40px;
}
.box-txt1 {
  float: left;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #0f75bc;
  text-transform: uppercase;
}
.box-txt2 {
  float: left;
  width: 100%;
  font-size: 28px;
  line-height: 34px;
  color: #000;
  margin: 10px 0;
}
.up-bottom-box img {
  width: 100%;
}

.offer-valid {
  float: left;
  width: 100%;
  font-weight: 700;
  color: #191919;
  font-size: 28px;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
}
.offer-valid span {
  color: red;
}
#footer {
  float: left;
  width: 100%;
  padding: 20px 0 30px 0;
  border-top: 1px solid #ccc;
  margin-top: 40px;
}
.ftr-txt {
  float: left;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #000101;
  padding: 10px 0;
}
.ftr-txt a,
.ftr-txt a:hover {
  color: #000101;
  text-decoration: none;
  text-transform: uppercase;
}
.index-card {
  display: block;
  margin: 20px auto 20px auto;
}
/*--------------------PLUSE--------------------*/
.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.9;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.9;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7;
  }
}
