@charset "utf-8";
/* CSS Document */
body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  background: #fff;
  font-family: "Hind", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
div,
ul,
h1,
h2,
h3,
h4,
h5,
li,
p,
img,
form,
input,
textarea {
  margin: 0;
  padding: 0;
}
table,
tr,
td {
  border: 0;
}
a {
  outline: none;
  color: #333;
  text-decoration: none;
}
a:hover {
  outline: none;
  color: #000;
  text-decoration: none;
}
img {
  border: none;
}
li {
  list-style: none;
}
.clearall {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
}
@font-face {
  font-family: "khandbold";
  src: url("khand-bold_0-webfont.eot");
  src: url("khand-bold_0-webfont.eot?#iefix") format("embedded-opentype"),
    url("khand-bold_0-webfont.woff2") format("woff2"),
    url("khand-bold_0-webfont.woff") format("woff"),
    url("khand-bold_0-webfont.ttf") format("truetype"),
    url("khand-bold_0-webfont.svg#khandbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*-----------------------
MAIN CSS START
------------------------*/
.contentWrap {
  width: 640px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

.position {
  position: relative;
}
/*-----------------header------------------*/
.header {
  height: 97px;
}
.logo {
  display: block;
  margin: 0 auto 0 auto;
  padding: 10px 0 0 0;
}

/*-----------------red bar------------------*/
.redbar {
  background: #ff0000;
  padding: 9px 0 5px 0;
}
.redbar p {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  letter-spacing: -1px;
}
/*-----------------sec1------------------*/
.sec1 {
  padding: 20px 0 0 0;
}
.s1hding {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #353535;
  text-align: center;
}
.s1txt1 {
  font-size: 24px;
  line-height: 30px;
  color: #353535;
  text-align: center;
  padding: 12px 0 0 0;
}
.s1txt1 span {
  font-weight: 600;
  font-size: 30px;
}
.s1txt3,
.s1txt4,
.s1txt5 {
  font-size: 20px;
  line-height: 26px;
  color: #353535;
  text-align: center;
}
.s1txt3 {
  text-align: left;
  padding: 47px 20px 0 10px;
}
.s1txt4 {
  padding: 20px 0 0 0;
}
.s1txt5 {
  padding: 40px 0 0 0;
}
.s1txt3 span,
.s1txt5 span {
  font-weight: 600;
}
.s1txt3 span.span1 {
  font-size: 24px;
}
.pkg-hding {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: #ff0000;
  text-align: center;
  letter-spacing: -1px;
  padding: 26px 0 0 0;
}
.pkg-container {
  margin: 20px auto 8px auto;
}
.pkg1-box,
.pkg2-box {
  width: 580px;
  border: 1px solid #b7cdc3;
  box-sizing: border-box;
  display: block;
  margin: 0 auto 10px auto;
  padding: 0 0 30px 0;
}
.pkgbox-hding {
  height: 60px;
  background: #069852;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 4px 0 0 0;
  box-sizing: border-box;
}
.pkgbox-btl {
  margin: 25px auto 0 auto;
  display: block;
}
.pkgbox-txt {
  font-size: 40px;
  line-height: 46px;
  color: #2c2c2c;
  text-align: center;
  padding: 10px 0 0 0;
}
.pkgbox-txt span.span1 {
  font-weight: 600;
}
.pkgbox-txt span.span2 {
  font-weight: 700;
  font-size: 57px;
  color: #0f7545;
  line-height: 60px;
  text-transform: uppercase;
}
a.select {
  background: url(../images/select.png) center top no-repeat;
  background-size: 100%;
  width: 400px;
  height: 100px;
  margin: 25px auto 0 auto;
  display: block;
  font-family: "khandbold";
  font-size: 60px;
  line-height: 75px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 0 0 0;
  box-sizing: border-box;
}
a.select:hover {
  background: url(../images/selected.png) center top no-repeat;
  background-size: 100%;
}
.s1txt2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #ff0000;
  margin: 95px 10px 0 10px;
}
.satisfaction-box {
  border: 1px solid #e4e3e3;
  border-radius: 5px;
  margin: 72px auto 0 auto;
  padding: 0 20px 0 20px;
}
.satisfaction-seal {
  margin: -51px auto 0 auto;
  display: block;
}
.satisfaction-hding {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #353535;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0 0 0;
}
.satisfaction-txt {
  font-size: 20px;
  line-height: 26px;
  color: #353535;
  text-align: center;
  padding: 8px 0 0 0;
}
.satisfaction-txt span {
  font-weight: 600;
  text-decoration: underline;
}
.upgrade-btn {
  margin: 17px auto 24px auto;
  width: 423px;
  display: block;
}
ul.s1list {
  padding: 22px 0 0 15px;
}
ul.s1list li {
  background: url(../images/bullet.png) left 4px no-repeat;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  padding: 0 0 0 33px;
  margin: 14px 0 0 0;
}
.s1subhding {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: #353535;
  text-align: center;
  background: url(../images/hdline.png) center bottom no-repeat;
  letter-spacing: -1px;
  padding: 42px 0 6px 0;
}
.s1txt6 {
  font-size: 24px;
  line-height: 30px;
  color: #353535;
  text-align: center;
  padding: 50px 0 0 0;
}
.s1txt6 span {
  font-weight: 600;
  font-size: 30px;
}
a.nothank {
  font-size: 16px;
  line-height: 23px;
  color: #158fc0;
  text-align: center;
  text-decoration: underline;
  margin: 24px 10px 0 10px;
  display: block;
}
.secure-logos {
  margin: 24px auto 19px auto;
  display: block;
}
/*-----------------footer------------------*/
.footer {
  padding: 40px 0;
  border-top: 1px solid #d7d7d7;
}
.ftrtxt {
  font-size: 12px;
  line-height: 23px;
  color: #000101;
  text-align: center;
}
.ftrtxt a,
.ftrtxt a:hover {
  color: #000101;
}
